# Notebook to Test Db2 Access

![TestImage](img/GS01.JPG)

In [13]:
pip install ipython-sql==0.4.1 ibm_db sqlalchemy==1.4.47 ibm_db_sa

Requirement already satisfied: ipython-sql==0.4.1 in c:\programdata\anaconda3\envs\cw01\lib\site-packages (0.4.1)
Requirement already satisfied: ibm_db in c:\programdata\anaconda3\envs\cw01\lib\site-packages (3.1.4)
Requirement already satisfied: sqlalchemy==1.4.47 in c:\programdata\anaconda3\envs\cw01\lib\site-packages (1.4.47)
Requirement already satisfied: ibm_db_sa in c:\programdata\anaconda3\envs\cw01\lib\site-packages (0.3.9)
Requirement already satisfied: prettytable<1 in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from ipython-sql==0.4.1) (8.12.0)
Requirement already satisfied: sqlparse in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from ipython-sql==0.4.1) (0.4.3)
Requirement already satisfied: six in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from sqlalchemy==1.4.47) (2.0.2)
Requirement already satisfied: backcall in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: decorator in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.18.2)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.6)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.15.0)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.9.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.3)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=1.0->ipython-sql==0.4.1) (0.2.6)
Requirement already satisfied: executing>=1.2.0 in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql==0.4.1) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql==0.4.1) (2.2.1)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\envs\cw01\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql==0.4.1) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import sys,os,os.path
os.environ['IBM_DB_HOME']='C:\Program Files\IBM\SQLLIB'

In [16]:
import ibm_db 
import ibm_db_sa 
import sqlalchemy

In [17]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [18]:
%sql ibm_db_sa://IBMUSER:SYS1@wg31.washington.ibm.com:5045/DALLASD

In [19]:
%sql select * from q.org

 * ibm_db_sa://IBMUSER:***@wg31.washington.ibm.com:5045/DALLASD
Done.

[(10, 'HEAD OFFICE', 160, 'CORPORATE', 'NEW YORK'),
 (15, 'NEW ENGLAND', 50, 'EASTERN', 'BOSTON'),
 (20, 'MID ATLANTIC', 10, 'EASTERN', 'WASHINGTON'),
 (38, 'SOUTH ATLANTIC', 30, 'EASTERN', 'ATLANTA'),
 (42, 'GREAT LAKES', 100, 'MIDWEST', 'CHICAGO'),
 (51, 'PLAINS', 140, 'MIDWEST', 'DALLAS'),
 (66, 'PACIFIC', 270, 'WESTERN', 'SAN FRANCISCO'),
 (84, 'MOUNTAIN', 290, 'WESTERN', 'DENVER')]

In [ ]:
%sql select * from credit.txns where is_fraud = 'Yes' fetch first 10 rows only

In [ ]:
%sql select tbcreator, tbname, colno, name from sysibm.syscolumns where tbcreator = 'CREDIT' order by tbname, colno asc