### Notebook Exploring SQL Data Insights

![TestImage](img/sqldi.JPG)

In [ ]:
pip install ipython-sql==0.4.1 ibm_db sqlalchemy==1.4.47 ibm_db_sa

In [ ]:
import sys,os,os.path
os.environ['IBM_DB_HOME']='C:\Program Files\IBM\SQLLIB'

In [ ]:
import ibm_db 
import ibm_db_sa 
import sqlalchemy

In [ ]:
%load_ext sql

In [ ]:
%sql ibm_db_sa://IBMUSER:SYS1@wg31.washington.ibm.com:5045/DALLASD

In [ ]:
%sql select * from explore.penguins fetch first 10 rows only

In [ ]:
# Lets not cheat - we can't give the classification answers to SQL DI !

%sql select * from explore.penguins_unc fetch first 10 rows only

### Now, Open the SQL Data Insights Web UI 

* and train the Db2 View "explore.penguins_unc".

In [ ]:
# We can score the similarity between any two Penguins. 
# Lets see how Penguin #11 compares to the other Penguins

# SELECT U.*, decimal(AI_SIMILARITY(ID,11),5,2) AS SIMILARITY 
# FROM EXPLORE.PENGUINS_UNC U fetch first 30 rows only

%sql SELECT U.*, decimal(AI_SIMILARITY(ID,11),5,2) AS SIMILARITY FROM EXPLORE.PENGUINS_UNC U fetch first 30 rows only

In [ ]:
# Average Similarity between Penguin # 11 (an Adelie) and all other Adelie Penguins
# =================================================================================
# with V1 as (SELECT U.*, decimal(AI_SIMILARITY(ID,11),5,2) AS SIMILARITY 
# FROM EXPLORE.PENGUINS_UNC U WHERE U.ID between 1 and 152 ) 
# select AVG(similarity) from V1 ;

%sql with V1 as (SELECT U.*, decimal(AI_SIMILARITY(ID,11),5,2) AS SIMILARITY FROM EXPLORE.PENGUINS_UNC U WHERE U.ID between 1 and 152 ) select AVG(similarity) from V1 ;

In [ ]:

# Average Similarity between Penguin # 11 (an Adelie) and all Gentoo Penguins
# ===========================================================================
# with V1 as (SELECT U.*, decimal(AI_SIMILARITY(ID,11),5,2) AS SIMILARITY 
# FROM EXPLORE.PENGUINS_UNC U WHERE U.ID between 153 and 276 ) 
# select AVG(similarity) from V1 ;

%sql with V1 as (SELECT U.*, decimal(AI_SIMILARITY(ID,11),5,2) AS SIMILARITY FROM EXPLORE.PENGUINS_UNC U WHERE U.ID between 153 and 276 ) select AVG(similarity) from V1 ;

In [ ]:
# Average Similarity Between Penguin # 11 (an Adelie) and all Chinstrap Penguins
# ==============================================================================
# with V1 as (SELECT U.*, decimal(AI_SIMILARITY(ID,11),5,2) AS SIMILARITY 
# FROM EXPLORE.PENGUINS_UNC U WHERE U.ID between 277 and 344 ) 
# select AVG(similarity) from V1 ;

%sql with V1 as (SELECT U.*, decimal(AI_SIMILARITY(ID,11),5,2) AS SIMILARITY FROM EXPLORE.PENGUINS_UNC U WHERE U.ID between 277 and 344 ) select AVG(similarity) from V1 ;

In [ ]:
# Average Similarity Between Penguin # 169 (a Gentoo) and all Adelie Penguins

%sql with V1 as (SELECT U.*, decimal(AI_SIMILARITY(ID,162),5,2) AS SIMILARITY FROM EXPLORE.PENGUINS_UNC U WHERE U.ID between 1 and 152 ) select AVG(similarity) from V1 ;

In [ ]:
# Average Similarity Between Penguin # 169 (a Gentoo) and all other Gentoo Penguins

%sql with V1 as (SELECT U.*, decimal(AI_SIMILARITY(ID,169),5,2) AS SIMILARITY FROM EXPLORE.PENGUINS_UNC U WHERE U.ID between 153 and 276 ) select AVG(similarity) from V1 ;

In [ ]:
# Average Similarity Between Between Penguin # 169 (a Gentoo) and all Chinstrap Penguins

%sql with V1 as (SELECT U.*, decimal(AI_SIMILARITY(ID,169),5,2) AS SIMILARITY FROM EXPLORE.PENGUINS_UNC U WHERE U.ID between 277 and 344 ) select AVG(similarity) from V1 ;

### Pause and Reflect

Without using 
* any subject matter knowledge of Penguins or Zoo-ology
* any data science expertise

SQL Data Insights can differentiate between different Penguins using simple SQL queries.

It can do the same for customer and transaction data.....

In [ ]:
# Take a look at the Customer Churn sample dataset

%sql select * from dsnaidb.churn fetch first 10 rows only

In [ ]:
# Focus on Customer who have churned

%sql select churn, count(*) from dsnaidb.churn group by churn

Use the SQLDI Data Analysis Dashboard to see which columns have most bearing on the 

![TestImage](img/discriminator.JPG)

In [ ]:
# Take a look at a "typical" churned client the Customer Churn sample dataset

%sql select * from dsnaidb.churn where CUSTOMERID = '3668-QPYBK'

In [ ]:
# Take a look at the Customer Churn sample dataset
# ================================================
# SELECT * FROM  
# (SELECT C.customerid, AI_SIMILARITY(CUSTOMERID, '3668-QPYBK') AS SIMILARITY, c.tenure, c.phoneservice, 
# c.internetservice, c.contract, c.paymentmethod, c.monthlycharges, c.totalcharges 
# FROM DSNAIDB.CHURN C WHERE CUSTOMERID <> '3668-QPYBK' AND CHURN = 'No' ) 
# WHERE SIMILARITY > 0.5 
# ORDER BY SIMILARITY DESC FETCH FIRST 20 ROWS ONLY;

%sql SELECT * FROM  (SELECT C.customerid, AI_SIMILARITY(CUSTOMERID, '3668-QPYBK') AS SIMILARITY, c.tenure, c.phoneservice, c.internetservice, c.contract, c.paymentmethod, c.monthlycharges, c.totalcharges FROM DSNAIDB.CHURN C WHERE CUSTOMERID <> '3668-QPYBK' AND CHURN = 'No' ) WHERE SIMILARITY > 0.5 ORDER BY SIMILARITY DESC FETCH FIRST 20 ROWS ONLY;